{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Posting!</title>
    </head>
    <body>
        <div class="container my-3">
            <p>
                <h1>{{post.postname}}</h1>
            </p>

            <p>{{post.contents}}</p>
            {% if post.mainphoto %}
                <img src = "{{ post.mainphoto.url }}" alt="" height="600">
                <br>
            {% endif %}

            <!---태그 추가 부분-->
            <p>
                <label for = "tags">태그</label>
                <span id = "tags" class = "form-control">
                {{ post.game.all | join:", "}}
            </p>
            
            {% if post.author == request.user %}
                <form action="{% url 'blog:allow_post' pk=post.pk %}" method="POST" class="my-3">
                    {% csrf_token %}
                    <input type="submit" value="10분 연장" class="btn btn-primary">
                </form>
            {% endif %}
            
            <a href="/blog/{{ post.pk }}/remove">삭제</a>
            <input type="button" value="돌아가기" onClick="history.back()">
            
        </div>
    </body>
{% endblock %}